@import url("../../assets/styles/common.css");

// ПЕРЕММЕННЫЕ

$button_default_color: linear-gradient(
  113.96deg,
  #f9804b 1.49%,
  #fe9013 101.44%
);
$button_hover_color: #e47209;
$button_active_color: #4b9200;

@mixin flexRow() {
  display: flex;
  flex-direction: row;
}
@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

.main-slide {
  position: relative;
  height: 780px;
  background: url("../../assets/images/panda.jpg") no-repeat;
  background-size: cover;

  .btn {
    position: absolute;
    top: 626px;
    left: calc(50% - 298px / 2 + 332px);
  }
}

.main-slide__ellips {
  position: absolute;
  top: 92px;
  left: calc(50% - 465px / 2 + 239.5px);
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.main-slide__text {
  position: absolute;
  top: 166px;
  left: calc(50% - 500.31px / 2 + 330.15px);
  width: 500.31px;
  height: 400px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 106.496px;
  font-style: normal;
  font-weight: 700;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
}
.text-decoration--yellow {
  color: #ffee2e;
}
.link--orange-underline {
  color: inherit;
  text-decoration-color: #fe9013;
  text-decoration-line: underline;
  cursor: pointer;
  // background: #FE9013;
}

.slide-cards {
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: white;
  @include flexColumn();
}

.slide-cards__bg-left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 271px;
  height: 460px;
  background: no-repeat url(../../assets/images/palm_foto.png);
}
.slide-cards__bg-right-top {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 204px;
  height: 605px;
  background: no-repeat url(../../assets/images/flower_foto1.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.slide-cards__bg-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 368px;
  height: 275px;
  background: no-repeat url(../../assets/images/strelitzia.png);
}

.slide-cards__info {
  @include flexRow();
}
.slide-cards__image {
  width: 609px;
  height: 403px;
  backdrop-filter: blur(2px);
  background: url("../../assets/images/bamboo-cap.png");
}
.slide-cards__text-container {
  box-sizing: border-box;
  flex: 1;
  padding-left: 87px;
  color: #333b41;

  p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
}
.slide-cards__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.slide-cards__title2 {
  margin-top: 54px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 120%;
}

.cards-wrapper {
  align-items: center;
  justify-content: space-between;
  width: 1322px;
  margin-top: 180px;
  margin-bottom: 80px;
  @include flexRow;
}
.cards-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  gap: 20px 30px;
}
.cards-btn {
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 50%;
  background-position: center;
  cursor: pointer;
}
.cards-btn--left {
  background: url("../../assets/icons/small-btn-left.png") center no-repeat,
    linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);

  &:active {
    background: url("../../assets/icons/small-btn-left.png") center no-repeat,
      green;
  }
}
.cards-btn--right {
  background: url("../../assets/icons/small-btn-right.png") center no-repeat,
    linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);

  &:active {
    background: url("../../assets/icons/small-btn-right.png") center no-repeat,
      green;
  }
}

.card {
  box-sizing: border-box;
  position: relative;

  width: 366px;
  overflow: hidden;
  border: 1px solid #fa6f32;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in;
  @include flexColumn();

  &:hover {
    background: rgba(0, 0, 0, 0.424);

    .img-wrapper--overflow {
      background: rgba(0, 0, 0, 0.424);
      filter: brightness(0.7);
    }
    .card-img {
      transform: scale(1.4);
    }
    .card-text-box {
      transform: translateY(-350px);
      .card-title,
      .card-description {
        color: white;
        filter: brightness(1.5);
      }
    }
  }
}

.card-img {
  width: 366px;
  height: 366px;
  object-fit: cover;
  transition: all 0.3s ease-in;
}
.img-wrapper--overflow {
  width: 366px;
  height: 366px;
}

.card-text-box {
  position: relative;
  padding: 16px 8px 16px 14px;
  transition: all 0.4s ease-in;
}

.card-title {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}
.card-description {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.card-food-img {
  position: absolute;
  right: 8px;
  bottom: 16px;
  width: 48px;
  height: 38px;
  background-position: center;
}
.card-food-img--banana {
  background: url("../../assets/icons/banana-bamboo_icon.svg") no-repeat;
}
.card-food-img--meat {
  background: url("../../assets/icons/meet-fish_icon.svg") no-repeat;
}

.slide-friend {
  align-items: center;

  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  @include flexColumn();
}
.slide-friend__container {
  box-sizing: border-box;
  justify-content: center;
  margin-top: 69px;
  margin-bottom: 100px;
  padding: 41px 100px 59px 100px;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  background: rgba(253, 253, 255, 0.52);
  @include flexColumn();

  .btn {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}
.slide-friend__title {
  color: #fe9013;
  font-family: "Roboto";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}
.slide-friend__subtitle {
  margin-top: 30px;
  color: #333b41;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}
.slide-friend__text--bold {
  margin-top: 40px;
  color: #333b41;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.slide-friend__text {
  margin-top: 10px;
  color: #333b41;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.slide-friend__h3 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.how-container {
  justify-content: center;
  @include flexRow();
}
.how-container__card {
  justify-content: space-between;
  width: 168px;
  height: 244px;
  @include flexColumn();
}
.how-container__card-image-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 168px;
  border: 1px solid #f9804b;
  border-radius: 5px;
  background: #ffffff;
}
.how-container__card-text {
  height: 46px;
}
.how-container__arrow {
  width: 130px;
  height: 160px;
  background: url("../../assets/icons/how-arrow.svg") no-repeat center;
}
.how-container__arrow--small {
  display: none;
  width: 130px;
  height: 160px;
  background: url("../../assets/icons/how-arrow-small.png") no-repeat center;
}

.how-container__card-image1 {
  width: 108px;
  height: 108px;
  background: url("../../assets/icons/how-hand-card.svg") no-repeat center;
}
.how-container__card-image2 {
  width: 108px;
  height: 108px;
  background: url("../../assets/icons/how-hand-payment.svg") no-repeat center;
}
.how-container__card-image3 {
  width: 125px;
  height: 72px;
  background: url("../../assets/icons/how-monkey.svg") no-repeat center;
}

.slide-testimonials {
  position: relative;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 180px;
  @include flexColumn();
  h3 {
    margin-bottom: 47px;
  }
  .btn {
    margin-top: 32px;
  }
}

.testimonials-wrapper {
  overflow: hidden;
}
.testimonials-cards-container {
  width: 1162px;
  margin: 0 auto;
  padding-bottom: 21px;
  transition: all 0.3s ease-in 0s;
  scrollbar-color: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);

  //firefox
  scrollbar-width: thin;
  scrollbar-color: orange;
  @include flexRow();

  .testimonials-card__wrapper + .testimonials-card__wrapper {
    margin-left: 30px;
  }
  &:-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: orange;
  }
  //firefox

  //webkit
  &::-webkit-scrollbar {
    width: 599px;
    height: 8px;
    margin: 0 280px;
    border: 1px solid #e0d8f0;
    border-radius: 5px;
    background-color: #f5f7f6;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 116px;
    border-radius: 5px;
    background-color: orange;
  }
  //webkit//
}

.testimonials-card__wrapper {
  box-sizing: border-box;
  width: 268px;
  min-width: 268px;
  height: 391px;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    )
    border-box;
  cursor: pointer;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.testimonials-card__card {
  box-sizing: border-box;
  width: 268px;
  height: 391px;
  padding: 15px 15px 19px 16px;
  background: #f1f3f2;
}
.testimonials-card__header {
  @include flexRow();
}
.testimonials-card__header-userpic {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}
.testimonials-card__header-infoblock {
  margin-left: 10px;
  @include flexColumn();
}
.testimonials-card__header-name {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 19px;
  text-align: left;
}
.testimonials-card__header-details {
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 18px;
  text-align: left;
}

.testimonials-card__text {
  box-sizing: border-box;
  height: 307px;
  margin-top: 10px;
  overflow: hidden;

  color: #767474;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.testimonials-scroll {
  width: 599px;
  height: 8px;
  margin: 21px auto 31px auto;
  background: url("../../assets/elements/line_scrol.png") no-repeat center;
}

.slide-testimonials__bg-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 248px;
  height: 295.45px;
  background: no-repeat url("../../assets/images/leav_foto.png");
}

.range-container {
  box-sizing: border-box;
  display: flex;
  width: 390px;
  height: 8px;
  margin: 0 auto;
  border: 0.5px solid transparent;
  border-radius: 5px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    )
    border-box;
  -webkit-mask-composite: xor;
}

.range-slider {
  box-sizing: border-box;
  width: 390px;
  height: 6px;
  margin: 0 auto;
  border-radius: 5px;
  outline: none;
  background: #eaf7fe;
  -webkit-appearance: none !important;
}
.range-slider::-webkit-slider-thumb {
  width: 75px;
  height: 6px;
  border-radius: 5px;
  background: #fe9013;
  cursor: pointer;
  -webkit-appearance: none !important;
}

/* small desktop */

@media screen and (min-width: 1381px) and (max-width: 1599px) {
  body {
    min-width: unset;
  }

  .container,
  .cards-wrapper,
  .slide-friend__container,
  .testimonials-wrapper,
  .footer-container {
    width: calc(100% - 60px);
  }
  .testimonials-wrapper {
    width: 1162px;
  }

  .slide-cards__text-container {
    padding-right: 163px;
  }
  .cards-wrapper > .container {
    width: auto;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1380px) {
  .container,
  .slide-friend__container,
  .testimonials-wrapper,
  .footer-container {
    width: calc(100% - 60px);
  }

  body {
    min-width: unset;
  }
  .cards-wrapper {
    width: calc(100% - 60px);
    .container {
      width: 943px !important;
    }
  }

  .main-slide {
    height: 584px;
    .main-slide__ellips {
      top: 69px;
      right: 200px;
      left: auto;
      width: 367px;
      height: 367px;
    }
    .main-slide__text {
      top: 126px;
      right: 60px;
      left: auto;
      font-size: 85px;
      font-weight: 700;
      line-height: 75%;
    }
    .main-slide .btn {
      top: auto;
      right: 170px;
      bottom: 40px;
      left: auto;
    }
  }

  .slide-cards {
    .cards-wrapper {
      position: relative;
      .container {
        width: 100%;
      }
    }
    .slide-cards__text-container {
      padding-left: 31px;
    }
    .slide-cards__image {
      width: 455px;
      height: 408px;
      background-position: center;
    }
    .slide-cards__bg-right-top {
      display: none;
    }
    .cards-container {
      position: relative;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 92px 29px;
    }
    .card {
      width: 295px;
      &:hover {
        .card-text-box {
          transform: translateY(-90px);
        }
      }
    }
    .card-img,
    .img-wrapper--overflow {
      width: 100%;
      height: 294px;
      object-fit: cover;
    }
    .cards-btn {
      z-index: 2;
      position: absolute;
      top: 50%;
    }
    .cards-btn--left {
      left: 38%;
      transform: translate(-50%, -50%);
    }
    .cards-btn--right {
      right: 38%;
      transform: translate(50%, -50%);
    }
    .slide-cards .card-img,
    .slide-cards .img-wrapper--overflow {
      width: 100%;
    }

    .slide-cards__bg-left-bottom {
      width: 386px;
      height: 202px;
      background-size: contain;
    }
    .slide-cards__bg-right-bottom {
      width: 241px;
      height: 180px;
      background-size: contain;
    }
  }

  .slide-testimonials {
    .testimonials-cards-container {
      width: 881px;
      margin: 0 auto;
    }

    .testimonials-wrapper {
      width: 881px;
    }

    .testimonials-card__wrapper,
    .testimonials-card__card {
      width: 268px;
      height: 391px;
    }
    .testimonials-card__text {
      padding-right: 27px;
    }
    .slide-testimonials__bg-right-bottom {
      width: 182px;
      height: 292px;
      background-position: right;
      background-size: contain;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  // .header > .container > nav {
  //   margin-left: 0;
  // }

  .header .logo {
    width: 50px;
  }
  .cards-wrapper {
    width: calc(100% - 40px);
  }
  .container,
  .slide-friend__container,
  .testimonials-wrapper,
  .footer-container {
    width: calc(100% - 40px);
  }

  .main-slide {
    height: 373px;
    background-position-y: -66px;

    .main-slide__ellips {
      top: 50px;
      right: 70px;
      left: auto;
      width: 237.6px;
      height: 237.6px;
    }
    .main-slide__text {
      top: 88px;
      right: 34px;
      left: auto;
      width: 255px;
      height: auto;
      font-size: 54.2894px;
      font-weight: 700;
      line-height: 75%;
    }
    .btn {
      top: auto;
      bottom: 40px;
      left: 20px;
      // right: 170px;
    }
  }

  .slide-cards {
    padding-top: 60px;
    & > .container {
      width: 495px;
      margin-left: 0;
    }
    .slide-cards__image {
      display: none;
    }
    .cards-wrapper {
      position: relative;
      width: 100%;
    }
    .slide-cards__text-container {
      padding-left: 31px;
    }
    .slide-cards__image {
      width: 455px;
      height: 408px;
      background-position: center;
    }
    .slide-cards__bg-right-top {
      display: block;
      width: 158px;
      height: 476px;
      background-size: contain;
      // transform: translateX(4px);
    }
    .cards-container {
      position: relative;
      grid-template-columns: 1fr 1fr;
      width: 600px;
      height: 800px;
      margin: 0 auto;
      overflow: hidden;
      gap: 92px 29px;
    }
    .card {
      width: 285px;
      height: 332px;
      &:hover {
        .card-text-box {
          transform: translateY(-90px);
        }
      }
      .card-text-box {
        padding: 6px 8px 11px 14px;
      }
      .card-title {
        font-size: 12.5px;
      }
      .card-description {
        font-size: 11.7px;
      }
      .card-food-img {
        width: 24px;
        height: 27px;
        background-size: contain;
      }
    }
    .card-img,
    .img-wrapper--overflow {
      // width: 294px;
      width: 100%;
      height: 285px;

      object-fit: cover;
    }
    .cards-btn {
      z-index: 1;
      position: absolute;
      top: 47%;
    }
    .cards-btn--left {
      left: 37%;
      transform: translate(0, -50%);
    }
    .cards-btn--right {
      right: 37%;
      transform: translate(0%, -50%);
    }
    .slide-cards .card-img,
    .slide-cards .img-wrapper--overflow {
      width: 100%;
    }

    .slide-cards__bg-left-bottom {
      width: 386px;
      height: 202px;
      background-size: contain;
    }
    .slide-cards__bg-right-bottom {
      width: 175px;
      height: 131px;
      background-size: contain;
    }
    .cards-wrapper {
      margin-top: 80px;
    }
  }

  .slide-friend {
    .how-container > * + * {
      margin-left: 42px;
    }

    .slide-friend__title {
      font-size: 42px;
    }
    .slide-friend__container {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px 20px 60px 20px;
    }
    .how-container__arrow {
      display: none;
    }

    .how-container__card {
      position: relative;
    }
    .how-container__arrow--small {
      display: block;
      z-index: 2;
      position: absolute;
      top: -81px;
      left: 115px;
    }
  }

  .slide-testimonials {
    padding: 60px 20px 80px 20px;
    .container {
      width: 100%;

      .btn {
        margin: 32px auto 0 auto;
      }
    }
    .testimonials-wrapper {
      width: calc(100% - 40px);
      width: 100%;
      .range-container {
        display: none;
      }
    }

    .testimonials-cards-container {
      // width: 600px;
      flex-direction: column;
      width: 100%;
      height: 357px;
      margin: 0 auto;

      .testimonials-card__wrapper {
        display: none;
        width: 100%;
      }

      .testimonials-card__wrapper:nth-child(-n + 3) {
        display: block;
      }

      .testimonials-card__wrapper + .testimonials-card__wrapper {
        margin-top: 15px;
        margin-left: 0px;
      }
    }

    .testimonials-card__wrapper,
    .testimonials-card__card {
      width: 100%;
      height: 109px;
    }
    .testimonials-card__text {
      height: 37px;
      padding-bottom: 10px;
      overflow: hidden;
    }
    .slide-testimonials__bg-right-bottom {
      bottom: -28px;
      width: 94px;
      height: 153px;
      background-position: right;
      background-size: contain;
    }
  }

  .footer {
    position: relative;
    padding: 12px 0;
    .footer-links-section > a + a {
      margin-top: 20px;
    }
    .footer-top__subscribe-box {
      display: none;
    }
    .footer-links-section {
      position: absolute;
      top: 20px;
      right: 20px;
      a > span {
        display: none;
      }
    }
    .footer-links-section__link-logo {
      margin-right: 0;
    }

    .footer-center ul {
      width: 83%;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 639px) {
  // .header > .container > nav {
  //   margin-left: 0;
  // }

  .cards-wrapper {
    width: calc(100% - 20px);
  }
  .container,
  .slide-friend__container,
  .testimonials-wrapper,
  .footer-container {
    width: calc(100% - 20px);
  }

  .main-slide {
    height: 187px;
    padding-top: 34px;

    .main-slide__ellips {
      // left: auto;
      top: 55px;
      left: calc(50% - 119.09px / 2 + 63.45px);
      width: 119.09px;
      height: 119.09px;
      // right: 33px;
    }
    .main-slide__text {
      position: absolute;
      top: 74px;
      left: calc(50% - 119.09px / 2 + 66.45px);
      width: 157px;
      height: auto;
      font-size: 28px;
      font-weight: 700;
      line-height: 75%;
      // right: 89px;
    }
    .btn {
      z-index: 1;
      top: 241px;
      left: 50%;
      transform: translateX(-50%);
      // bottom: 40px;
      // right: 170px;
    }
  }

  .slide-cards {
    padding-top: 94px;
    padding-bottom: 60px;
    & > .container {
      box-sizing: border-box;
      width: 100%;
      margin-left: 0;
      padding: 0 10px;
    }
    .slide-cards__title {
      font-size: 24px;
    }
    .slide-cards__image {
      display: none;
    }
    .cards-wrapper {
      position: relative;
      margin-bottom: 10px;
    }
    .slide-cards__text-container {
      // padding-top: 10px;
      padding: 10px 0 0 0;

      p {
        margin-top: 10px;
      }
    }
    .slide-cards__image {
      width: 455px;
      height: 408px;
      background-position: center;
    }
    .slide-cards__bg-right-top {
      display: block;
      top: 50px;
      width: 30px;
      height: 217px;
      background-size: cover;
      // transform: translateX(4px);
    }
    .cards-container {
      position: relative;
      grid-template-columns: 1fr;
      height: 1490px;
      overflow: hidden;
      gap: 20px;
    }
    .card {
      width: 277px;
      // height: 354px;
      margin: 0 auto;
      &:hover {
        .card-text-box {
          transform: translateY(-90px);
        }
      }
    }
    .card-img,
    .img-wrapper--overflow {
      // width: 294px;
      width: 100%;
      height: 294px;

      object-fit: cover;
    }
    .cards-btn {
      display: none;
    }

    .slide-cards .card-img,
    .slide-cards .img-wrapper--overflow {
      width: 100%;
    }

    .slide-cards__bg-left-bottom {
      width: 49px;
      height: 75px;
      background-size: contain;
    }
    .slide-cards__bg-right-bottom {
      width: 85px;
      height: 64px;
      background-size: contain;
    }
    .cards-wrapper {
      margin-top: 80px;
    }
  }

  .slide-friend {
    .how-container {
      flex-direction: column;
      align-items: center;
    }
    .how-container > * + * {
      // margin-left: 42px;
    }

    .slide-friend__title {
      font-size: 24px;
    }
    .slide-friend__subtitle {
      margin-top: 10px;
      font-size: 18px;
    }
    .slide-friend__text--bold,
    .slide-friend__text {
      display: none;
    }
    .slide-friend__h3 {
      margin: 20px 0;
      font-size: 24px;
    }
    .slide-friend__container {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px 20px 60px 20px;
    }
    .how-container__arrow {
      display: none;
    }

    .how-container__card {
      position: relative;
    }
    .how-container__arrow--small {
      display: block;
      z-index: 2;
      position: absolute;
      top: 173px;
      left: 139px;
      width: 87px;
      height: 71px;
      transform: rotate(82deg);
    }
  }

  .slide-testimonials {
    padding: 30px 10px 90px 10px;
    .container {
      width: 100%;

      .btn {
        margin: 30px auto 0 auto;
      }
    }
    .testimonials-wrapper {
      width: calc(100% - 20px);
      // width: 100%;
    }

    .testimonials-cards-container {
      // width: 600px;
      flex-direction: column;
      width: 100%;
      height: 357px;
      margin: 0 auto;
      padding-bottom: 0;

      & ~ .range-container {
        display: none;
      }
      .testimonials-card__wrapper {
        display: none;
        width: 100%;
      }

      .testimonials-card__wrapper:nth-child(-n + 3) {
        display: block;
      }

      .testimonials-card__wrapper + .testimonials-card__wrapper {
        margin-top: 15px;
        margin-left: 0px;
      }
    }

    .testimonials-card__wrapper,
    .testimonials-card__card {
      width: 100%;
      height: 109px;
    }
    .testimonials-card__text {
      height: 37px;
      padding-bottom: 10px;
      overflow: hidden;
    }
    .slide-testimonials__bg-right-bottom {
      bottom: -28px;
      width: 73px;
      height: 113px;
      background-position: right;
      background-size: contain;
    }
  }

  .footer {
    position: relative;
    padding: 20px 0;
  }
}
