@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Roboto";
  font-style: normal;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}

body {
  min-width: 1600px;
  position: relative;
}

h1 {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white;
  transition: color 0.3s ease-in;
}

.nav-link:hover {
  color: rgba(215, 119, 29, 0.768627451);
}

.nav-link--active {
  color: #fe7c02;
}

.nav-link--active:hover {
  color: #fe7c02;
}

.container,
.slide-friend__container,
.testimonials-wrapper,
.footer-container {
  margin-left: auto;
  margin-right: auto;
  width: 1161px;
}

.header {
  width: 100%;
  position: absolute;
  background-color: black;
  height: 80px;
  z-index: 2;
  color: white;

  .menu-button-container {
  }
  #menu-toggle {
  }
  .menu-button-container {
    display: none;
    height: 100%;
    margin-left: auto;
    transform: translateY(15px);
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
  }
}

.header > .container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__designedby {
  margin-left: auto;
}

.header ul {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  width: 472px;
  list-style-type: none;
  justify-content: space-between;
  &::before {
    pointer-events: all;
  }
  li {
    pointer-events: all;
  }
}

nav {
  margin-left: 63px;
}

/* a, a:visited, a:hover, a:active { */
a,
a:visited {
  /* color: inherit; */
  text-decoration: none;
}

a.link--orange-underline:visited {
  color: inherit;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-color: #fe9013;
  text-decoration-color: #fe9013;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background: #e47209;
}

.btn:active {
  background: #4b9200;
}

.btn--rounded {
  border-radius: 25px;
}

.logo {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.logo::before {
  position: absolute;
  width: 12px;
  height: 21px;
  left: 11.13px;
  top: 24.64px;
  content: "";
  background-image: url("../../assets/icons/bamboo.svg");
  background-repeat: no-repeat;
}

.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  background: #111115;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top .btn {
  margin-top: 68px;
  margin-bottom: 44px;
}

.footer-top__subscribe-box form {
  margin-top: 14px;
}

.footer-top__subscribe-box form * + * {
  margin-left: 10px;
}

.footer-top__subscribe-box form * {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.footer-top__subscribe-box form input[type="email"] {
  box-sizing: border-box;
  width: 228px;
  height: 42px;
  padding: 10px;
  background-color: transparent;
  color: #bdbdbd;
  border: 0.7px solid orange;
  border-radius: 2px;
  &:focus + input {
    border: 1px solid #d31414;
    color: #d31414;
  }
  &:valid + input {
    border: 1px solid #4b9200;
    color: #4b9200;
  }
}

.footer-top__subscribe-box form input[type="email"]:focus {
  border: 0.7px solid #4b9200;
  outline: none;
}

.footer-top__subscribe-box form input[type="submit"] {
  box-sizing: border-box;
  width: 129px;
  height: 42px;
  background: #f1f3f2;
  border: 1px solid #333b41;
  border-radius: 5px;
  transition: background 0.2s ease-in;
  border: 1px solid #979494;
  color: #959191;

  cursor: pointer;
}

.footer-top__subscribe-box form input[type="submit"]:hover {
}

.footer-top__subscribe-box form input[type="submit"]:active {
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links-section__line {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in;
}

.footer-links-section__line:hover,
.footer-links-section__line:active {
  color: #4b9200;
}
.footer-links-section__line:hover div.footer-links-section__link-logo,
.footer-links-section__line:active div.footer-links-section__link-logo {
  background: #4b9200;
}

.footer-links-section__line + .footer-links-section__line {
  margin-top: 10px;
}

a.footer-links-section__line,
a .footer-links-section__line:visited {
  color: white;
}

.footer-links-section__line .nav-link {
  margin-left: 12px;
}

.footer-links-section__link-logo {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 12px;
  background: rgba(196, 196, 196, 0.5);
  transition: all 0.3s ease-in;
}

.social-logo--fb::before,
.social-logo--yt::before,
.social-logo--inst::before,
.social-logo--tw::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
}

.social-logo--fb::before {
  background: url("../../assets/icons/social_fb.png") center no-repeat;
}

.social-logo--yt::before {
  background: url("../../assets/icons/social_youtube.svg") center no-repeat;
}

.social-logo--inst::before {
  background: url("../../assets/icons/social_inst.svg") center no-repeat;
}

.social-logo--tw::before {
  background: url("../../assets/icons/social_twitter.svg") center no-repeat;
}

.footer-center {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 362px;
}

.footer-center ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.footer-top__subscribe-box-title {
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.footer-credits {
  margin-top: auto;
}

.footer-credits div {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

.popup {
  display: none;
  position: fixed;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);

  & > div {
    margin: auto auto;
    // width: 500px;
  }
  .popup-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: url("../../assets/icons/x_icon_testimonials.svg") no-repeat
      center;
    width: 10px;
    height: 10px;
    border: none;
  }
}

.hidden {
  display: none;
}
/* mobile and tablet header */
@media screen and (min-width: 0px) and (max-width: 999px) {
  .header {
    height: 34px;
    position: fixed;

    .header__designedby {
      display: none;
    }

    .menu-toggle,
    .menu-button-container {
      display: block;
    }

    nav {
      margin-left: 0;
    }
    ul {
      visibility: hidden;
      height: 0;
      padding: 0;
      position: absolute;
      top: 34px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: left;
      background-color: white;
      box-sizing: border-box;

      li {
        display: block;
        opacity: 0;
      }

      * + * {
        padding-top: 15px;
      }
    }

    #menu-toggle:checked ~ nav > ul {
      visibility: visible;
      height: 250px;
      padding: 30px 10px 40px 10px;
      transform-style: preserve-3d;
      z-index: 3;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

      li {
        display: block;
        opacity: 1;
        transition: opacity 1000ms cubic-bezier(0.23, 1, 0.32, 1) 300ms;
      }
      &::before {
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
        transform: translateZ(-1px);
      }

      .nav-link {
        color: black;
      }
      .nav-link--active {
        color: #fe7c02;
      }
    }

    .logo {
      height: 100%;
      border: none;
      font-size: 12.23px;
      &::before {
        width: 14px;
        height: 13px;
        left: 23.13px;
        top: 16.64px;
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        // background-image: url(../../assets/icons/bamboo.svg');
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 639px) {
  body {
    min-width: 320px;
  }

  .header {
    .container .logo {
      width: 50px;
      &::before {
        left: 8px;
      }
    }
  }
  .footer {
    position: relative;
    padding: 20px 0;

    .btn {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 80px;
    }

    .logo {
      text-align: center;
      width: auto;
      border: none;
      &::before {
        left: 52.5%;
        top: 27%;
      }
    }
    .footer-credits {
      position: absolute;
      top: 205px;
      right: 10px;
      top: 213px;
    }

    .footer-links-section > a + a {
      // margin-top: 20px;
    }

    .footer-links-section__line + .footer-links-section__line {
      margin: 0;
    }

    .footer-top__subscribe-box {
      display: none;
    }
    .footer-links-section {
      position: absolute;
      display: flex;
      flex-direction: row;
      width: 194px;
      justify-content: space-between;
      top: 86px;
      left: 50%;
      transform: translateX(-50%);
      a > span {
        display: none;
      }
    }
    .footer-links-section__link-logo {
      margin-right: 0;
    }

    .footer-top,
    .footer-top__left {
      width: auto;
    }
    .footer-top__left {
      justify-content: center;
      flex: 1;
      flex-direction: column;
      display: flex;
      width: auto;
    }

    .footer-credits {
      top: 232px;
    }

    .footer-center {
      width: 93%;
      margin: 32px auto 0 auto;
      ul {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  body {
    min-width: unset;
  }

  .header {
    position: fixed;
  }

  .container .logo {
    width: 83px !important;
    &::before {
      top: 12px;
      left: 47px;
    }
  }

  // .header > .container > nav {
  //   margin-left: 0;
  // }

  .container,
  .slide-friend__container,
  .testimonials-wrapper,
  .footer-container {
    width: calc(100% - 40px);
  }

  .footer {
    .footer-links-section > a + a {
      margin-top: 20px;
    }
    position: relative;
    padding: 12px 0;
    .footer-top__subscribe-box {
      display: none;
    }
    .footer-links-section {
      position: absolute;
      top: 11px;
      right: 25px;
      a > span {
        display: none;
      }
    }
    .footer-links-section__link-logo {
      margin-right: 0;
    }

    .footer-center ul {
      width: 300px;
    }

    .footer-credits {
      width: 350px;
      div {
        text-align: right;
      }
    }

    .btn {
      margin-top: 33px;
      margin-bottom: 64px;
    }
  }
}
